.stat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  border: 0.2px solid black;
  padding: 5px;
}

#liveIframe {
  border: none;
  border-radius: var(--borderRadius);
  width: 100%;
  aspect-ratio: 3/2;
}
